@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Greentwip is a small startup launched to produce multimedia content and toys.</p>
<br />
<p>Founded in 2014 and enrolled to the Microsoft BizSpark program in 2015.</p>
<br />
<p>We currently have our character Regan in-development for toys and merchandize.</p>
<br />
<p>You can play a playable demo "Revenge of the Future" in the Games section.</p>
<br />
<p>A special series is featured in the Videos section.</p>
<br />
<p>Our Images section features our image gallery.</p>