@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dionicio Gomez, 2626<br />
    Revolucion Mexicana, Juarez<br />
    <abbr title="Phone">P:</abbr>
    +52 (1) 656 1864252 <br />
    Victor Lopez
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@greentwip.com">Support@greentwip.com</a><br />
</address>