@{
    ViewBag.Title = "Registration Successful";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your account was created, plese check your email inbox to confirm your account.
    </p>
</div>
