@model Greentwip.Models.ResendConfirmationEmailViewModel

@{
    ViewBag.Title = "Confirmation Sent";
}

<h2>@ViewBag.Title.</h2>

<p class="text-info">
    An email has been sent to your email address, please check your mail inbox to confirm your account.
</p>
<div class="form-group">
    <div class="col-md-10">

        <div class="col-sm-4">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>

    </div>
</div>
